.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 100%;    
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer p {
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 40px;
    }
    .footer ul {
        margin-top: 20px;
        display: flex;
    }
    .footer ul li {
        display: block;
        margin-bottom: 20px;
    }
    .footer p {
        margin-right: 0;
    }
}
