 .campo-texto {
    margin: 24px 0;
 }

 .campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size:1.5rem;
    font-weight: 500;
    color: #333;
 }

 .campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
    width: 100%;
    border: none;
    padding: 24px;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 4px;
 }